streamlit==1.31.1
pandas==2.2.2
numpy==1.26.4
scikit-learn==1.4.2
joblib==1.4.2
plotly==5.20.0
python-dotenv==1.0.1
groq==0.9.0

# PDF
reportlab==4.1.0

# UI / formatting
rich==14.2.0
markdown-it-py==4.0.0
mdurl==0.1.2
pygments==2.19.2
